@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    background-color: peachpuff;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.navbar-name{
    float: left;
    position: absolute;
    margin-top: 2cm;
    margin-left: 2cm;
    margin-bottom: 2cm;
}

.navbar-container{
    position: absolute;
    background-color: lightsalmon;
    width: 100%;
}

.navbar-container a{
    /*background-color; aqua;*/
    text-decoration: none;
    color: lightpink;
}
.links li{
    list-style-type: none;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 2em;
}
.navbar-links ul{
    float: right;
    
}